html
	head
		title Hello Pug!
		link(href=require('../styles/main.scss') rel='stylesheet')
		link(rel="icon" type="image/x-icon" href=require('../img/favicon.ico'))
		script(src=require('../js/index.js') defer)
		block script
	body
		block content